body{
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    text-align:center;
}

.container{
    width:90%;
    margin:auto;
    padding:20px;
}

input{
    width:100%;
    padding:12px;
    font-size:16px;
    margin-top:20px;
}

button{
    margin-top:15px;
    padding:12px 20px;
    font-size:16px;
}

#output{
    margin-top:20px;
    padding:15px;
    background:white;
    min-height:100px;
    white-space: pre-line;
    line-height: 1.6;
}
.highContrast{
    background:black !important;
    color:white !important;
}

.highContrast #output{
    background:black !important;
    color:white !important;
    border:1px solid white;
}