<!DOCTYPE html>
<html>
<head>
    <title>AccessMate</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>AccessMate</h1>
<p>Adaptive Accessibility Companion</p>

<input id="urlInput"
placeholder="Paste website link here..." />

<br>

<button onclick="simplifyText()">
Simplify
</button>

<br><br>

<button onclick="toggleContrast()">
Accessibility Mode
</button>

<h3>Simplified Summary</h3>
<div id="output"></div>

</div>

<script src="/static/script.js"></script>

</body>
</html>